html {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 900px;
  margin: 0px;
  padding: 0px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(13, 19, 71);
}

.MenuBar {
  top: 0px;
  width: 100%;
  height: 55px;
  line-height: 50px;
  display: inline-block;
  position: fixed;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  border-bottom: 0.8px solid rgba(43, 43, 43, 0.6);
  z-index: 100;
}

#title {
  width: auto;
  display: inline-block;
  margin: 0px;
  margin-left: 16px;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  color: rgb(13, 19, 71);
}

#login {
  margin-top: 13px;
  margin-right: 16px;
  width: 60px;
  height: 30px;
  float: right;
  border: 2px solid #144366;
  border-radius: 30px;
  color: #144366;
  font-size: 13px;
  padding: 0px;
  background-color: white;
}

#login:hover {
  background-color: gray;
}

#menuTeacherRegister {
  margin-top: 13px;
  margin-right: 16px;
  width: 80px;
  height: 30px;
  float: right;
  border: 2px solid #144366;
  border-radius: 30px;
  color: #144366;
  font-size: 13px;
  padding: 0px;
  background-color: white;
}

#menuTeacherRegister:hover {
  background-color: gray;
}

#menuStudentRegister {
  margin-top: 13px;
  margin-right: 16px;
  width: 80px;
  height: 30px;
  float: right;
  border: 2px solid #144366;
  border-radius: 30px;
  color: #144366;
  font-size: 13px;
  padding: 0px;
  background-color: white;
}

#menuStudentRegister:hover {
  background-color: gray;
}

.MainImage {
  position: relative;
}

.MainImageTable {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -316px;
  text-align: center;
}


/* 이미지를 자동으로 화면에 맞게 리사이즈 되도록 */
#mainImage {
  max-width: 100%;
  /* 이미지의 최대사이즈 */
  width/***/
  : auto;
  /* IE8 */
  height: auto;
  vertical-align: bottom;
}

#MainParagraph {
  display: block;
  margin: 0px;
  color: white;
  font-size: 58px;
  font-family: 'Pacifico';
  width: 100%;
  font-weight: bold;
  text-align: center;
  top: 20%;
}

.MainButtonDiv {
  display: block;
}

#teacherRegister {
  width: 160px;
  height: 80px;
  border: 5px solid #0d1347;
  border-radius: 50px;
  color: #0d1347;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  background-color: white;
}

#teacherRegister:hover {
  background-color: gray;
}

#studentRegister {
  width: 160px;
  height: 80px;
  border: 5px solid #0d1347;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  background-color: #0d1347;
}

#studentRegister:hover {
  color: gray;
}

#teacherCount {
  display: block;
  color: white;
}

#studentCount {
  display: block;
  color: white;
}

.PromotionVideo {
  text-align: center;
}

h1 {
  text-align: center;
}

.What {
  text-align: center;
}

.Trust {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  margin-right: 10%;
  padding-top: 20px;
}

#trustImg {
  width: 150px;
  height: 150px;
}

.Match {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  padding-top: 20px;
}

#matchImg {
  width: 150px;
  height: 150px;
}

.Manage {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  margin-left: 10%;
  padding-top: 20px;
}

#manageImg {
  width: 150px;
  height: 150px;
}

.Why {

}

.Student {
  width: 30%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  margin-left: 15%;
  padding-top: 20px;
}

#studentImg {
  width: 150px;
  height: 150px;
}

.Teacher {
  width: 30%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  margin-right: 15%;
  float: right;
  padding-top: 20px;
}

#teacherImg {
  width: 150px;
  height: 150px;
}

.TeacherPromotionVideo {
  width: 40%;
  margin-left: 10%;
  float: left;
}

.TeacherPromotionSpec {
  margin-left: 10%;
  width: 40%;
  float: left;
}

.ClearDiv {
  clear: both;
}

.Review {
}

.ReviewSub {
  width: 100%;
}

.ReviewProfile {
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  float: left;
  width: 35%;
  margin-left: 10%;
  display: inline-block;
}

.ReviewProfileImage {
  float: left;
}

#reviewProfileImage {
  width: 180px;
  height: 270px;
  border-radius: 20px;
}

.ReviewProfileContent {
  float: left;
}

.ReviewGraph {
  float: left;
  width: 35%;
  margin-left: 10%;
  border: 5px solid rgb(13, 19, 71);
  border-radius: 20px;
  text-align: center;
}

#reviewGraph {
  height: 270px;
  border-radius: 20px;
}

.ReviewStars {
  width: 50px;
  height: 50px;
}

.Slide {
  width: 100%;
  text-align: center;
  clear: both;
}

.SlideButton {
  width: 100px;
  height: 100px;
}

.End {
  text-align: center;
}

#endTitle {
  font-family: 'Pacifico', cursive;
  color: rgb(13, 19, 71);
}

#endStudentRegister {
  width: 160px;
  height: 80px;
  border: 5px solid #0d1347;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  background-color: #0d1347;
}

#endStudentRegister:hover {
  color: gray;
}

#endTeacherRegister {
  width: 160px;
  height: 80px;
  border: 5px solid #0d1347;
  border-radius: 50px;
  color: #0d1347;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  background-color: white;
}

#endTeacherRegister:hover {
  background-color: gray;
}

#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(13, 19, 71);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#top:hover {
  background-color: #555;
}
