html {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 900px;
  margin: 0px;
  padding: 0px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid blue;
}

.MenuBar {
  top: 0px;
  width: 100%;
  height: 55px;
  line-height: 50px;
  display: inline-block;
  position: fixed;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  border-bottom: 0.8px solid rgba(43, 43, 43, 0.6);
  z-index: 100;
}

#title {
  width: auto;
  display: inline-block;
  margin: 0px;
  margin-left: 16px;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  color: rgb(13, 19, 71);
}

#login {
  margin-top: 13px;
  margin-right: 16px;
  width: 60px;
  height: 30px;
  float: right;
  border: 1px solid rgb(13, 19, 71);
  border-radius: 30px;
  color: rgb(13, 19, 71);
  font-size: 13px;
  padding: 0px;
  background-color: white;
}

.MainImage {
  position: relative;
  /*margin-top: 55px;*/
}


/* 이미지를 자동으로 화면에 맞게 리사이즈 되도록 */



#mainImage {
  max-width: 100%;
  /* 이미지의 최대사이즈 */
  width/***/
  : auto;
  /* IE8 */
  height: auto;
  vertical-align: bottom;
}

#MainParagraph {
  display: block;
  margin: 0px;
  margin-top: 50px;
  color: white;
  font-size: 58px;
  width: 100%;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 10%;
}

#studentRegister {
  position: absolute;
  display: block;
  width: 160px;
  height: 40px;
  left: 55%;
  top: 75%;
  border: 1px solid rgb(13, 19, 71);
  border-radius: 3px;
  color: rgb(13, 19, 71);
  font-size: 20px;
  padding: 0px;
  background-color: white;
}

#teacherRegister {
  position: absolute;
  display: block;
  width: 160px;
  height: 40px;
  right: 55%;
  top: 75%;
  border: 1px solid rgb(13, 19, 71);
  border-radius: 3px;
  color: rgb(13, 19, 71);
  font-size: 20px;
  padding: 0px;
  background-color: white;
}

.PromotionVideo {
  text-align: center;
}

h1 {
  text-align: center;
}

.What {
  text-align: center;
}

.Trust {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 20px;
  margin-right: 10%;
}

#trustImg {
  width: 150px;
  height: 150px;
}

.Match {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 20px;
}

#matchImg {
  width: 150px;
  height: 150px;
}

.Manage {
  width: 20%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 20px;
  margin-left: 10%;
}

#manageImg {
  width: 150px;
  height: 150px;
}

.Why {

}

.Student {
  width: 30%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 20px;
  margin-left: 15%;
}

#studentImg {
  width: 150px;
  height: 150px;
}

.Teacher {
  width: 30%;
  height: 400px;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 20px;
  margin-right: 15%;
  float: right;
}

#teacherImg {
  width: 150px;
  height: 150px;
}

.TeacherPromotionVideo {
  width: 40%;
  margin-left: 5%;
  float: left;
}

.TeacherPromotionSpec {
  margin-left: 5%;
  width: 40%;
  float: left;
}

.Determination {
  clear: both;
  padding-top: 10px;
  margin-left: 5%;
}
